input {
	file {
		path => "/Users/jk/Google\ Drive/CSE/DISS/SAADG/dash_default.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}
filter {
	csv {
		separator => ","
		columns => [ "Collateral", "MaxSupply", "Budget", "PriceBef", "ActiveBef", "PossibleBef", "Inflation",
		"Circulation", "Controlled", "Target", "BlockRew", "MaliciousNet", "FrozenBef", "PurchaseBef", "PurchaseAft",
		"Cost", "PriceAft", "FrozenAft", "PossibleAft", "ActiveAft", "Malicious", "DailyDash", "DailyGBP",
		"MonthlyDash", "MonthlyGBP", "YearlyDash", "YearlyGBP", "MalDownvote", "MalUpvote", "ExpVoters", "ExpVotAtt" ]
	}
	mutate { convert => ["Collateral", "integer"] }
	mutate { convert => ["MaxSupply", "integer"] }
	mutate { convert => ["Budget", "float"] }
	mutate { convert => ["PriceBef", "float"] }
	mutate { convert => ["ActiveBef", "integer"] }
	mutate { convert => ["PossibleBef", "integer"] }
	mutate { convert => ["Inflation", "float"] }
	mutate { convert => ["Circulation", "integer"] }
	mutate { convert => ["Controlled", "integer"] }
	mutate { convert => ["Target", "integer"] }
	mutate { convert => ["BlockRew", "float"] }
	mutate { convert => ["MaliciousNet", "integer"] }
	mutate { convert => ["FrozenBef", "integer"] }
	mutate { convert => ["PurchaseBef", "integer"] }
	mutate { convert => ["PurchaseAft", "integer"] }
	mutate { convert => ["Cost", "float"] }
	mutate { convert => ["PriceAft", "float"] }
	mutate { convert => ["FrozenAft", "integer"] }
	mutate { convert => ["PossibleAft", "integer"] }
	mutate { convert => ["ActiveAft", "integer"] }
	mutate { convert => ["Malicious", "integer"] }
	mutate { convert => ["DailyDash", "float"] }
	mutate { convert => ["DailyGBP", "float"] }
	mutate { convert => ["MonthlyDash", "float"] }
	mutate { convert => ["MonthlyGBP", "float"] }
	mutate { convert => ["YearlyDash", "float"] }
	mutate { convert => ["YearlyGBP", "float"] }
	mutate { convert => ["MalDownvote", "integer"] }
	mutate { convert => ["MalUpvote", "integer"] }
	mutate { convert => ["ExpVoters", "integer"] }
	mutate { convert => ["ExpVotAtt", "integer"] }
}
output {
    elasticsearch {
        hosts => "localhost"
        index => "dash_default"
        document_type => "dash_default_params"
    }
    stdout {}
}